<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Titanic Dataset</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/titanic">Titanic</a></li>
            <li><a href="https://github.com/Chenjinlin28/docker" target="_blank">GitHub</a></li>
        </ul>
    </nav>
    <main>
        <h1>Titanic Dataset</h1>
        <div>{{ titanic_data|safe }}</div>
        <img src="{{ image_path }}" alt="Survival Counts by Gender">
    </main>
    <footer>
        <p>Created by Chen Jinlin</p>
    </footer>
</body>
</html>
